{{ define "main" -}}
<div class="posts">
    {{ range .Pages -}}
        <article class="post">
            <h1 class="post-title">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h1>
            <time class="post-date" datetime="{{ .Date.Format `2006-01-02T15:04:05Z07:00` | safeHTML }}">
                {{ .Date | time.Format ":date_short" }}
            </time>
            {{ .Summary }}
            {{ if .Truncated }}
                <div class="read-more-link">
                    <a href="{{ .RelPermalink }}">{{ i18n "read_more"}}</a>
                </div>
            {{ end }}
        </article>
    {{- end }}
</div>
{{ end }}
