{{ define "main" -}}
<div class="post">
  <h1>{{ .Title }}</h1>
  <time 
    datetime={{ .Date.Format "2006-01-02T15:04:05Z0700" }} class="post-date">{{ .Date.Format "Mon, Jan 2, 2006"}}
  </time>
  {{ with .Params.Image }} <img class="img" src="{{ . | relURL }}" alt="Image"> {{ else }} {{end}}
  {{ .Content }}

  <!-- {{ if eq .Site.Language.Lang "it"}}
    {{ partial "newsletter_it.html" .}}
  {{ else }}
    {{ partial "newsletter_en.html" .}}
  {{ end }} -->

</div>

{{ if .Site.DisqusShortname -}}
<h2>Comments</h2>
{{ template "_internal/disqus.html" . }}
{{- end }}
{{- end }}